@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
#gradient-canvas {
  
  --gradient-color-1: #D1D5D8; 
  --gradient-color-2: #3498DB; 
  --gradient-color-3: #E74C3C;  
  --gradient-color-4: #F1C40F;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
